button {
  display: block;
  font-family: 'Syne', monospace;
  font-size: 1.1rem;
  font-weight: 700;
  margin-block: 1rem;
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: 2.5rem;
  color: var(--ut-white);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
