.confirmation-modal {
  position: relative;

  .modal {
    position: absolute;
    bottom: 1rem;
    padding-block: 2rem;
    padding-inline: 3rem;
    background-color: var(--ut-white);
    border: 2px solid var(--ut-black);
    border-radius: 1rem;
    z-index: 99;

    p {
      font-size: 1.5rem;
    }
  }
}
