:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(8, 35, 42);
  background: linear-gradient(
    0deg,
    rgba(8, 35, 42, 1) 0%,
    rgba(9, 125, 90, 1) 100%
  );

  .form-control {
    width: 100%;
  }
}

form {
  padding-block: 2rem 2rem;
  padding-inline: 1.5rem;
  background-color: #eef1ef;
  border-radius: 1rem;
  width: 320px;

  h1,
  h2,
  p {
    text-align: center;
  }

  h1,
  h2 {
    margin-block-start: 1rem;
  }

  h3 {
    margin-block-start: 0.7rem;
  }

  p {
    margin-block: 0.2rem 1rem;
  }

  section {
    position: relative;
  }

  .close-btn {
    position: absolute;
    top: -30px;
    right: 0;
  }
}

input,
label,
select {
  display: block;
}

input {
  width: 100%;
  margin-block: 0.5rem;
  padding-block: 0.6rem;
  border-radius: 0.4rem;
  border: grey solid 0.1px;
  padding-inline-start: 1rem;
}

input[type='checkbox'],
label {
  display: inline-block;
  width: initial;
}

.error-message {
  color: rgb(200, 51, 51);
  font-size: 1.2rem;
  width: 100%;
}

.password-control {
  position: relative;
}

.password-visibility {
  top: 2.9rem;
  right: 5px;
  position: absolute;
  border: none;
  background: none;
}
