:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(8, 35, 42);
  background: linear-gradient(
    0deg,
    rgba(8, 35, 42, 1) 0%,
    rgba(9, 125, 90, 1) 100%
  );

  .form-control {
    width: 100%;
  }
}

form {
  padding-block: 1rem;
  padding-inline: 1rem;
  background-color: #eef1ef;

  h1,
  h2,
  p {
    text-align: center;
  }
}

input,
label,
select {
  display: block;
}

button {
  font-size: 1.3rem;
  margin-block: 1rem;
  padding-block: 0.8rem;
  padding-inline: 3rem;
  color: var(--ut-white);
  background: rgb(71, 177, 111);
  background: linear-gradient(
    0deg,
    rgba(71, 177, 111, 1) 0%,
    rgba(9, 125, 90, 1) 100%
  );
  border: none;
  border-radius: 2rem;
}
