.user-options {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  background-color: var(--ut-white);
}

img {
  cursor: pointer;
}

@media (width > 500px) {
  .user-options {
    gap: 5rem;
  }
}
