:root {
  --ut-white: #f9fff9;
  --ut-black: #08160a;
  --ut-green: #47b16f;
  --ut-dark-green: #097d5a;
  --ut-light-green: #b0f0a0;
  --a-blue: #0075ff;
  --gradient: linear-gradient(
    0deg,
    rgba(71, 177, 111, 1) 0%,
    rgba(9, 125, 90, 1) 100%
  );
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Syne', monospace;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: 2px solid var(--ut-green);
  box-shadow: 0 0 10px var(--ut-green);
}
