button {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  margin-block: 2rem 1.5rem;
  margin-inline: auto;
  padding-block: 0.8rem;
  padding-inline: 3.5rem;
  color: var(--ut-white);
  background: rgb(71, 177, 111);
  background: linear-gradient(
    0deg,
    rgba(71, 177, 111, 1) 0%,
    rgba(9, 125, 90, 1) 100%
  );
  border: none;
  border-radius: 2rem;
}

.disabled-btn {
  background: rgb(71, 177, 111);
  background: linear-gradient(
    0deg,
    rgb(114, 145, 125) 0%,
    rgb(66, 105, 93) 100%
  );
}
